@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/roboto-regular.ttf") format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/roboto-bold.ttf") format('truetype');
}