.content table tbody tr td {
  text-align: left;
}

.table {
  padding: 0 25px;

  &-search {
    padding: 0 25px;
  }
}

ul.pagination-list {
  list-style-type: none !important;
  margin-top: 0 !important;
}